<div class="centered-material">
	<% if flash[:alert] %>
		<div class="alert alert-danger"><%= flash[:alert] %>
		</div>
	<% end %>
	<div class="row">
		<div class="col-8 offset-2">
			<h2 class="text-center colors"><u>Welcome Back!</u></h2>
			<div class="form-group">
				<%= form_with url: login_path, local: true do |f| %> 
					<div class="form-group">
						<%= f.email_field :email, placeholder: 'Email', value: params[:email], class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
						</div>
					<%= f.submit class: 'btn btn-primary btn-lg btn-block', value: 'login' %>
				<% end %>
			</div>
		</div>
	</div>
</div>