<div class="centered-material">
	<div class="row">
		<div class="col-8 offset-2">
			<%= form_with model: @user, local: true do |f| %>
				<% if @user.errors.full_messages.any? %>
					<ul>
						<% @user.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>
				<% end %>
				<h2 class="text-center">Account Info</h2>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="">First and last name</span>
						</div>
							<%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control', required: true %>
							<%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control', required: true %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :email %>
					<%= f.email_field :email, placeholder: 'Email', class: 'form-control', required: true %>
				</div>
				<div class="form-group">
					<%= f.label :password %>
					<%= f.password_field :password, placeholder: 'Password', class: 'form-control', required: true %>
				</div>
				<div class="create-an-account">
					<%= f.submit class: 'btn btn-primary btn-lg btn-block'%>	
				</div>
				<% if new %>
					<div class="custom-control custom-checkbox">
						<%= bootstrap_form_for(@user) do |f| %>
						  <%= f.label :terms %>
						  <%= f.check_box :terms %>
					  <% end %>
					</div>
					<div class="sign-in">
						<%= link_to "Signin", login_path, placeholder: 'Sign-in!', class: 'btn btn-secondary btn-lg btn-block' %>
						<%= f.label :already_have_an_account? %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>