<div class="centered-material">
	<div class="row">
		<div class="col-8 offset-2">
			<%= form_with model: @user, local: true do |f| %>
			<h2 class="text-center">Create An account</h2>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="">First and last name</span>
						</div>
							<%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control' %>
							<%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control' %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :email %>
					<%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
				</div>
				<div class="form-group">
					<%= f.label :password %>
					<%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
				</div>
				<div class="create-an-account">
					<%= f.submit class: 'btn btn-primary'%>	
				</div>
				<div class="sign-in">
					<%= link_to "Signin", login_path, placeholder: 'Sign-in!', class: 'btn btn-primary' %>
					<%= f.label :Already_Have_an_Account? %>
				</div>
			</div>
		<% end %>
	</div>
</div>