<div class="container">
	<h1 class="text-center name"><%= @user.first_name %>'s  Profile!</h1>
	<div class="row">
		<div class="col-6">
			<%= image_tag "profile_picture_two.jpg", class: "img-fluid rounded" %>
		</div>
		<div class="col-6">
			<div class="info">
				<p>First Name: <%= @user.first_name %></p>
				<p>Last Name: <%= @user.last_name %></p>
				<p>Email Address: <%= @user.email %></p>
				<% if @user == current_user %>
					<div class="button-group">
						<%= link_to "Edit Profile", edit_user_path(@user), class: 'btn btn-primary' %>
						<%= link_to "Destroy User", @user, method: :delete, class: 'btn btn-primary'%>
						<%= link_to "New Post", new_post_path(@post), class: 'btn btn-primary' %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="col-12">
			<div class="postsOnProfile">
				<h3>Posts By <%= @user.first_name %></h3>
				<% @user.posts.each do |post| %>
					<h4><%= post.content %>, <%= post.created_at %></h4>
				<% end %>
			</div>
		</div>
	</div>
</div>