<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= @body_class %>">
  	<% if flash[:alert] %>
  		<div class="alert alert-danger"><%= flash[:alert] %></div>
  	<% end %>  	
  	<% if flash[:notice] %>
  		<div class="alert alert-warning"><%= flash[:notice] %></div>
  	<% end %>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/posts">PUBLIC FORUM</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item">
			        <a class="nav-link" href="/posts">Feed</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/users">User's</a>
			      </li>
			      <% if user_signed_in? %>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Profile
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <!-- <a class="dropdown-item" href="#">Settings</a> -->
				          <%= link_to "Edit", edit_user_path(current_user), class: "nav-link" %>
				          <div class="dropdown-divider"></div>
				          <!-- <a class="dropdown-item" href="#">Profile</a> -->
				          <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
				        </div>
				      </li>
				      <li class="nav-item">
				        <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
				        <%= link_to "Log Out", logout_path, method: :delete, class: "nav-link" %>
				      </li>
		        <% else %>
			        <%= link_to "New User", new_user_path, class: "nav-link" %>
			        <%= link_to "Login", login_view_path, class: "nav-link" %>
				    <% end %>
			    </ul>
			  </div>
		</nav>


    <%= yield %>
  </body>
</html>
